@font-face {
  font-family: "Esporte Personal Use Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Esporte Personal Use Regular"),
    url("EsportePersonalUse-eZVa6.woff") format("woff");
}

h1 {
  font-family: "Esporte Personal Use Regular";
}
